
.gift-list, h1.title {
  @include outer-container;
  font-family: $sans-serif-2;
  margin-bottom: 0.6em;
}

h1.title {
  font-size: 2em;
  font-weight: 600;
  max-width: 1088px;

  @include media($tablet) {
    font-size: 2.4em;
  }
}

.gift-small {

  @include media($mobile) {
    @include span-columns(3);
    @include omega(2n);
  }
  @include media($tablet) {
    @include omega-reset(2n);
    @include span-columns(3);
    @include omega(3n);
  }
  @include media($desk) {
    @include omega-reset(3n);
    @include span-columns(3);
    @include omega(4n);
  }
  @include media($lg-desk) {
    @include omega-reset(4n);
    @include span-columns(3);
    @include omega(5n);
  }

  @include card;

  .gift-small-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: $base-color;

    img {
      @include transition (all 0.2s ease-in-out);
      // width: 100%;
      @include size(100%);
      opacity: 1;
    }
  }

  .gift-small-title {
    @include transition (all 0.2s ease-in-out);
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.4em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
  }

  .gift-small-description {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    .stars {
      line-height: 1em;
      padding-top: .4em;
      float: right;
      span {
        @include icon($star);
        padding-left: 14px;
      }
    }
  }
  .gift-small-state {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    .stars {
      line-height: 1em;
      padding-top: .4em;
      float: right;
      span {
        @include icon($star);
        padding-left: 14px;
      }
    }

    .buyed { @include icon($buyed, '#000000');}
    .lock { @include icon($lock, '#000000'); }
    .lockOpen { @include icon($lockOpen, '#000000'); }
  }

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.gift {
  @include outer-container;

  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;

  h1 {
    font-size: 2em;
    font-weight: 600;
    max-width: 1088px;

    @include media($tablet) {
      font-size: 2.4em;
    }
  }

  .stars {
    padding: ($base-spacing / 3) ($base-spacing / 2);
    border-bottom: $card-border;

    span {
      @include icon($star);
    }
  }

  a.user-name {
    display: block;
    padding: ($base-spacing / 3) ($base-spacing / 2);    
  }

  button, a.button {
    margin: 0 1em 1em 0;

    &.lock i { @include icon($lock); }
    &.lock-open i { @include icon($lockOpen); }
    &.unarchive i { @include icon($unarchive); }
    &.archive i { @include icon($archive); }
    &.buy i { @include icon($buy); }
    &.edit i { @include icon($edit); }
  }

  .primary {
    color: white;
    background-color: $base-color;
    border-color: $base-border-color;
    border-radius: $base-border-radius;
  }

  .all-comments {
    @include outer-container;

    @include media($desk) {
      .comments {
        @include span-columns(12);
      }
      .comments~.comments,
      .comments.private {
        @include span-columns(6);      
      }
    }
    @include media($tablet) {
      .comments {
        @include span-columns(8);
      }
      .comments~.comments,
      .comments.private {
        @include span-columns(4);      
      }

    }
    .comments .warning h4 {
      color: #cc2200;
    }
  }

  .gift-profile {
    margin-bottom: 0.6em;

    & > .gift-section {

      @include card;

      &.gift-picture {
        @include span-columns(4);
      }
      &.gift-description {
        @include span-columns(8);
        padding: 1em;
        min-height: 23em;
      }
    }

    .gift-image {
      overflow: hidden;
      height: 20em;
      background-color: $base-color;

      img {
        @include transition (all 0.2s ease-in-out);
        width: 100%;
        height: 20em;
        min-width: 100%;
        // @include size(100%);
        opacity: 1;
      }
    }
  }
}