template(name="giftSmall")
  a.gift-small(href="{{pathFor 'gift.show'}}")
    .gift-small-image
      +giftImage
    .gift-small-description.card-border
      | {{userName}}
      span.stars
        each prio
          span
    unless isOwner
      .gift-small-state.card-border
        if buyerId
          .buyed par {{buyerName}}
        else
          if lockerId
            .lock par {{lockerName}}
          else
            | Disponbile       
    .gift-small-title.card-border= title
