---
  extends: airbnb/base
  env:
    meteor: true
    node: true
    browser: true
    es6: true
  globals:
    Accounts: false
    UserAccounts: false
    AccountsTemplates: false
    moment: false
    AutoForm: false
    check: false
    console: false
    Router: false
    SimpleSchema: false
    T9n: false
    toastr: false
    SubsManager: false
    Comments: true
    Gifts: true
    UI: true
    profile: true
    subs: true
  rules:
    curly:
      - 2
      - "multi"
    quotes:
      - 2
      - 'single'
      - 'avoid-escape'
    no-console: 0
    no-underscore-dangle: 0
    object-curly-spacing: 0
    key-spacing: 0
    prefer-arrow-callback: 0
    no-nested-ternary: 0
