@import "{wolves:bourbon}/bourbon";
// @import "{wolves:bitters}/base";
@import "{wolves:bitters}/bitters/variables";
@import "grid-settings";
@import "{wolves:bitters}/bitters/buttons";
@import "{wolves:bitters}/bitters/forms";
@import "{wolves:bitters}/bitters/lists";
@import "{wolves:bitters}/bitters/tables";
@import "{wolves:bitters}/bitters/typography";
//
@import "{wolves:neat}/neat";

$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: em(640);
$base-font-color: $dark-gray !default;
$sans-serif: 'PT Sans', sans-serif;
$sans-serif-2: 'Titillium Web', sans-serif;

@import "client/navbar/navbar"

div.body {


  @include clearfix;
  font-family: $sans-serif;
  text-align: left;

  h1, h2, h3, p {
    margin: 0;
  }
  h1 {
    font-family: $sans-serif-2;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.6em;

    @include media($tablet) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-family: $sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.2em;

    @include media($tablet) {
      font-size: 1.4em;
    }
  }

  h3 {
   font-family: $sans-serif-2;
   font-size: 1em;
   font-weight: 700;
   line-height: 1.4em;
   margin-bottom: 0.5em;
   text-transform: uppercase;
  }
}
