body {
  padding-top: 90px;
}

/* header text */
.navbar-header a,
/* header icon */
.navbar i {
  font-size: 34px;
}
.navbar li {
  display: inline-block;
}

/* responsive button to shrink button on mobile */
@media (max-width: 768px) {
  .btn-responsive {
    padding-left: 27px;
    padding-right: 27px;
  }
}

/* set back comportement from wide screen for mobile */
.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-header {
  float: left;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-right {
 float: right !important;
 margin-right: -15px;
}

/*
.navbar-brand {
  font-size: 35px !important;
}
.navbar-brand > i.fa.fa-gift {
  color: black;
}

.buyed {
  opacity: 0.3;
}

.buyed:hover {
  opacity: 1;
}

body {
  padding-top: 70px;
}

a.thumbnail > .bottom {
  margin: 10px;
}

.padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.stars {
  position: absolute;
  top: 6px;
  right: 25px;
}
.stars > .fa-star {
  color: #FFD600;
  text-shadow: 1px 0px 1px #333, 0px 1px 1px #333, -1px 0px 1px #333, 0px -1px 1px #333;
}

a:hover .spinhover {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
*/
