
.user-profile {
  @include outer-container;
  font-family: $sans-serif-2;
  margin-bottom: 0.6em;

  & > .user-section {

    @include media($lg-desk) {
      &.user-picture {
        @include span-columns(5);
      }
      &.user-description {
        @include span-columns(10);
        padding: 1em;
        min-height: 23em;

        & > .user-like {
          @include span-columns(5 of 10);
          margin-top: 2em
        }
      }
    }
    @include media($desk) {
      &.user-picture {
        @include span-columns(4);
      }
      &.user-description {
        @include span-columns(8);
        padding: 1em;
        min-height: 23em;

        & > .user-like {
          @include span-columns(4 of 8);
          margin-top: 2em
        }
      }
    }
    @include media($tablet) {
      &.user-picture {
        @include span-columns(3);
      }
      &.user-description {
        @include span-columns(6);
        padding: 1em;
        min-height: 23em;

        & > .user-like {
          @include span-columns(3 of 6);
          margin-top: 2em
        }
      }
    }
    @include media($mobile) {
      &.user-picture {
        @include span-columns(6);
      }
      &.user-description {
        @include span-columns(6);
        padding: 1em;
        min-height: 23em;

        & > .user-like {
          @include span-columns(3 of 6);
          margin-top: 2em
        }
      }
    }

    @include card;

    .user-image {
      overflow: hidden;
      height: 20em;

      img {
        @include transition (all 0.2s ease-in-out);
        min-height: 20em;
        min-width: 100%;
        // @include size(100%);
        opacity: 1;
      }
    }
    h1 {
      @include transition (all 0.2s ease-in-out);
      border-radius: $base-border-radius $base-border-radius 0 0;
      font-weight: bold;
      line-height: 1.6em;
      padding: ($base-spacing / 3) ($base-spacing / 2);
      margin: 0.2em;

      .edit-profile {
        @include icon($editBlack);
        float: right;
        width: 1.5em;
        height: 1.5em;
      }
    }

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }
}

button.edit-profile {
  margin-bottom: $base-spacing;
}