
.user-list, h1.title {
  @include outer-container;
  font-family: $sans-serif-2;
  margin-bottom: 0.6em;
}

h1.title {
  font-size: 2em;
  font-weight: 600;
  max-width: 1088px;

  @include grid-media($tablet) {
    font-size: 2.4em;
  }
}

.user-small {

  @include grid-media($mobile) {
    @include grid-column(3);
    @include nth-omega(2n);
  }
  @include grid-media($tablet) {
    @include omega-reset(2n);
    @include grid-column(3);
    @include nth-omega(3n);
  }
  @include grid-media($desk) {
    @include omega-reset(3n);
    @include grid-column(3);
    @include nth-omega(4n);
  }
  @include grid-media($lg-desk) {
    @include omega-reset(4n);
    @include grid-column(3);
    @include nth-omega(5n);
  }
  @include card;

  .user-small-image {
    overflow: hidden;
    height: 250px;
    max-height: 250px;
    background-color: $base-color;

    img {
      transition: all 0.2s ease-in-out;
      // border-top-left-radius: $base-border-radius;
      // border-top-right-radius: $base-border-radius;
      // width: 100%;
      // @include size(100%);
      opacity: 1;
      max-width: 100%;
      height: auto;
      width: 100%;
      min-height: 100%;
    }
  }

  .user-small-title {
    transition: all 0.2s ease-in-out;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  &:focus,
  &:hover {
    cursor: pointer;
  }
}
