
.user-list, h1.title {
  @include outer-container;
  font-family: $sans-serif-2;
  margin-bottom: 0.6em;
}

h1.title {
  font-size: 2em;
  font-weight: 600;
  max-width: 1088px;

  @include media($tablet) {
    font-size: 2.4em;
  }
}

.user-small {
  // $base-border-color: gainsboro !default;
  // $base-background-color: white !default;
  // $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: $base-color;

  @include span-columns(3);
  @include omega(4n);

  // XXX BUG in tablet size
  // @include media($tablet) {
  //   @include omega(3n);
  //   @include span-columns(4);
  // }
  @include media($mobile) {
    @include omega(2n);
    @include span-columns(2);
  }
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin-bottom: 1em;
  position: relative;


  .user-small-image {
    overflow: hidden;
    height: 250px;
    max-height: 250px;
    background-color: $card-image-hover-color;

    img {
      @include transition (all 0.2s ease-in-out);
      // border-top-left-radius: $base-border-radius;
      // border-top-right-radius: $base-border-radius;
      // width: 100%;
      // @include size(100%);
      opacity: 1;
    }
  }

  .user-small-title {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .user-small-title {
      background-color: $card-background;
    }
  }
}
